.top-row {
    display: flex;
    gap: 1.06vw;
}

.top-card {
    overflow: hidden;
    width:12.09vw;
    height: 148px;
    background-color: var(--bg-primary);
    border-radius: 16px;
    margin-bottom: 60px;
    padding: 10px 0.651vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s;
    position: relative;
}

.bg-grad {
position: absolute;
width: 174px;
height: 174px;
left: -58px;
top: -69px;
filter: blur(25px);
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;
}

.top-card:hover {
    transform: scale(1.1);
    z-index: 2;
    cursor: pointer;
}


.overview {
    display: flex;
    gap: 0.781vw;
}

.overview img {
    height: 52px;
    width: 3.385vw;
}
.overview .right {
    display: flex;
    flex-direction: column;
    gap: 0.521vw;

}

.overview .title {
    color: var(--primary);
    font-size: var(--normal);
    font-weight: 500;
    line-height: 20px;
}
.overview .subtitle {
    color: var(--primary);
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
}
.amount-info {
    display: flex;
    flex-direction: column;
    gap: 0.521vw;
}

.amount-info .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.amount-info .amt1 {
    color: var(--primary);
    font-size: var(--small);
    font-weight: 500;
    line-height: 20px;
}
 .num-area {
    display: flex;
    align-items: center;
    gap: 4px;
}

.amount-info img {
    width: 7.4px;
    height: 12px;
}
.amount-info .username {
    font-weight: 500;
}
.amount-info .time {
    color: var(--secondary);
    font-size: var(--small);
    line-height: 20px;
}

.amount-info .amt2 {
    color: var(--num);
    font-size: var(--small);
    line-height: 20px;
}
