@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
  --bg-primary: #111111;
  --primary: #fafafa;
  --secondary: #a2a2a2;
  --highlight: #ffc148;
  --num: #19ed7b;
  --bg-time: #00000080;
  --bg-social: #1a1a1a;
  --bg-dp: #f8a9101a;
  --large: 1.23vw;
  --normal: 0.91vw;
  --small: 0.78vw;
}

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100vh;
  background: #1E1E1E
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  gap: 4vw;
  width: fit-content;
}

.highlights .text {
  margin-bottom: 30px;
  color: var(--secondary);
  font-size: var(--normal);
  font-weight: 500;
  margin-top: -2px;
  line-height: 20px;
}
